body {
  margin: 10px;
  padding: 20px;
  background-color: #1e1e2e;
}

.card {
  background-color: #313244;
  padding: 20px;
  border-radius: 10px;
}

#formTodo {
  display: flex;
  gap: 20px;
}

#btnEditStatusTodo {
  border: none;
  border-radius: 2px;
}

#btnEditTodo {
  border: none;
  border-radius: 2px;
}

#btnHapusTodo {
  background-color: red;
  border: none;
  border-radius: 2px;
  color: white;
}

#btnTambahTodo {
  background-color: green;
  border: none;
  border-radius: 2px;
  color: white;
}

h1 {
  text-align: center;
  color: white;
}

h3 {
  text-align: center;
  color: white;
}

input {
  flex: 1;
}

li {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: white;
  font-weight: bold;
}

li div {
  display: flex;
  gap: 12px;
  align-items: center;
}
